// .imgPrincipal {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 31%;
//  }
ion-title {
  text-align: center;
  color: black;
}

.imgSpar {
 // display: flex;
 height: 10vh;
 width: auto;
 margin: auto;
 display: block;
 }
